<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat</title>    
    <link rel="stylesheet" href="./css/materialize.min.css">
    <link rel="stylesheet" href="./css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/@supabase/supabase-js"></script>
    <script type="module" src="./js/index.js"></script>
</head>
<body>
    <div class="container" id="app">       
        <header>
            <h1>Chat</h1>
        </header>
        <main>
            <section>  
                <ul class="collection">
                    <li
                        v-for="message in messages" 
                        class="collection-item"
                    >
                        <strong>{{message.name}}:</strong>{{message.text}}
                    </li>           
                </ul>
            </section>
            <section>  
                <div class="row">
                    <div class="col s9">
                        <div class="row">             
                            <div class="input-field col s12">
                                <input v-model="name" type="text" placeholder="Name">                                
                            </div>
                            <div class="input-field col s12">
                                <textarea v-model="newMessage" id="textarea1" class="materialize-textarea" placeholder="Message"></textarea>                               
                            </div>                        
                        </div> 
                    </div>
                    <div class="col s3">
                        <button 
                            @click.prevent="sendMessage"
                            class="btn waves-effect waves-light btn__submit" 
                            type="submit" 
                            name="action"
                        >Send
                            <i class="material-icons right"></i>
                        </button>
                    </div>
                </div>                
            </section>
        </main>        
    </div>
</body>
</html>